h1 {
  text-align: center;
  font-family: 'Gaegu', cursive;
  padding: 0;
  padding-left: 30px;
  padding-top: 15px;
  margin: 0;
  line-height: 0.8;
}

#fontchange {
  font-family: 'Quicksand', cursive;
}

h1#top {
  color: #black;
  /* color: #FF99BB;
  color: #FF6699; */
  font-size: 7em;
  text-align: center;
}

.title {
  padding: 0;
  text-align: center;
}

h3 {
  margin-top: 15px;
  margin-bottom: 15px;
}

h5 {
  text-align: center;
  font-size: 1.8em;
}

.active {
  border: 4px solid #FFC0CB;
  border-radius: 5px;
  margin-left: 60px;
}

.active h3 .player {
  font-size: 1.2em;
}

.active h3 {
  color: black;
}

/*
.activeopposite{
  border: 4px solid black;
  border-radius: 5px;
  margin-left: 60px;
}
.activeopposite h3{
  color: blue;
} */

.player {
  /*color: ##FF6699;*/
  font-size: 1.2em;
  margin-bottom: 30px;
}

h3 {
  font-family: 'Gaegu', cursive;
}

p {
  margin-top: 25px;
}

#players {
  text-align: center;
  margin: auto;
}

.container {
  background: #fff;
  background: rgba(255, 255, 255, 0.99);
  border: 20px solid #FFC0CB;
  border-radius: 50px;
  width: 700px;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-bottom: 50px;
}

#footer {
  background: #FFC0CB;
  background-image: url(..img/depositphotos_126657136-stock-illustration-pig-face-wallpaper.jpg);
  background-size: 25%;
}

.containerfooter {
  background: #fff;
  background: rgba(255, 255, 255, 0.99);
  border: 2px solid black;
  border-radius: 20px;
  width: 700px;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  padding-top: 25px;
  padding-bottom: 2px;
  padding-bottom: 5px;
  font-family: 'Gaegu', cursive;
}

h2#follow {
  margin-left: 200px;
  margin-right: 200px;
}

body {
  /* background-image: url(..img/pigsduh.jpg); */
  background: #FFC0CB;
  /*border: 10px solid #FF6699;*/
  color: #333;
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: 25%;
  background-image: url(../img/depositphotos_126657136-stock-illustration-pig-face-wallpaper.jpg)
}

.btn {
  padding: 10px 25px;
  opacity: 1;
  transition: 0.3s;
}

#roll .btn {
  color: #fff;
  background: #FFC0CB;
  border: black;
  margin-left: 15px;
  font-family: 'Quicksand', cursive;
}

#end-turn .btn {
  color: #fff;
  background: black;
  border: #FF99BB;
  margin-left: 15px;
  font-family: 'Quicksand', cursive;
}

.btn:hover {
  opacity: 0.6;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-snapchat-ghost {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.fa-skype {
  background: #00aff0;
  color: white;
}